<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header::common-header"/>

<!-- Basic Page Needs
================================================== -->



<body>

<!-- Wrapper -->
<div id="wrapper" class="wrapper-with-transparent-header">

    <!-- Header Container
    ================================================== -->
    <div id="header" th:replace="common/header::navbar"></div>


    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Register</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>Register</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-3">

                <div class="login-register-page">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3 style="font-size: 26px;">Let's create your account!</h3>
                        <span>Already have an account? <a href="pages-login.html">Log In!</a></span>
                    </div>

                    <!-- Account Type -->
                    <div class="account-type">
                        <div>
                            <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
                            <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
                        </div>

                        <div>
                            <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
                            <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                        </div>
                    </div>

                    <!-- Form -->
                    <form th:action="@{/newUser}"  method="post" id="register-account-form">

                        <div class="alert alert-success" role="alert" th:if="${emailSent}">An email is sent to your email address, please verify your email</div>

                        <div class="alert alert-warning" role="alert" th:if="${usernameExists}" >Username is already exists.</div>
                        <div class="input-with-icon-left">

                            <input class="with-border" name="username" type="text" id="name" placeholder="Username" required="required" />
                            <i class="icon-material-outline-account-circle"></i>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="email" class="input-text with-border" name="email" id="email" placeholder="Email Address" required/>
                            <div class="alert alert-warning" role="alert" th:if="${emailExists}">Email is already exists.</div>

                        </div>


                    </form>

                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="register-account-form">Register <i class="icon-material-outline-arrow-right-alt"></i></button>

                    <!-- Social Login -->
                    <div class="social-login-separator"><span>or</span></div>
                    <div class="social-login-buttons">
                        <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
                        <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->


    <!-- Footer
    ================================================== -->
    <div id="footer" th:replace="common/header::footer"> </div>



    <!-- Scripts
    ================================================== -->
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/jquery-3.6.0.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/jquery-migrate-3.3.2.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/mmenu.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/tippy.all.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/simplebar.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/bootstrap-slider.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/bootstrap-select.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/snackbar.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/clipboard.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/counterup.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/magnific-popup.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/slick.min.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/custom.js"></script>

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
        // Snackbar for user status switcher
        $('#snackbar-user-status label').click(function() {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>

    <!-- Leaflet // Docs: https://leafletjs.com/ -->
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/leaflet.min.js"></script>

    <!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/leaflet-autocomplete.js"></script>
    <script src="../../../../../themeforest-LUsCXNL4-hireo-job-board-freelance-services-marketplace-html-template/HTML/js/leaflet-control-geocoder.js"></script>
</div>
</body>
</html>